<%= form_tag('/posts') do %>
  <div><%= submit_tag 'Classroom as a Service', name: => 'CaaS' %> (&nbsp;)(&nbsp;)(&nbsp;)(&nbsp;)(&nbsp;) 
       <%= submit_tag 'Lab as a Service', name: => 'LaaS' %>
  </div>

<% end %>